*.class
bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.DS_Store
.gitignore
logs/
*planstatus.txt
*tutorbehaviors.txt
*episodes.txt
.metadata/
wekafiles/
.settings/
.java-version
.gitattributes
*agent.jar

Genesis-Plugins/junit/TEST-plugins.fileParsing.CSVParserTest.xml
Genesis-Plugins/junit/TEST-plugins.wrappers.FeatureSelectionPluginTest.xml
Genesis-Plugins/junit/TEST-plugins.wrappers.fileParsing.CSVParserTest.xml
Genesis-Plugins/junit/TESTS-TestSuites.xml
Genesis-Plugins/junit/all-tests.html
Genesis-Plugins/junit/overview-summary.html
Genesis-Plugins/junit/plugins/fileParsing/0_CSVParserTest.html
Genesis-Plugins/junit/plugins/fileParsing/package-summary.html
Genesis-Plugins/junit/plugins/wrappers/1_FeatureSelectionPluginTest-err.html
Genesis-Plugins/junit/plugins/wrappers/1_FeatureSelectionPluginTest.html
Genesis-Plugins/junit/plugins/wrappers/fileParsing/2_CSVParserTest.html
Genesis-Plugins/junit/plugins/wrappers/fileParsing/package-summary.html
Genesis-Plugins/junit/plugins/wrappers/package-summary.html
LightSide/plugins/genesis.jar
