<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure</title>
    <style>
        html {
            font-size:16px;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .content {
            max-width: 1440px;
            margin-top: 60px;
            padding: 20px;
            background-color: #f1f1f1;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <div>
            <h3>Configure Bazaar</h3>
        </div>
        <div>
            <form action="{{action}}" method="post">
                <div>
                <label accesskey="a" for="agent">Pick an Agent:</label>
                <select id="agent" name="agent">
                    {{#data.agentList}}
                    <option value="{{value}}">{{text}}</option>
                    {{/data.agentList}}
                </select>
                </div>
                <div>
                <label accesskey="h" for="html">Select html page:</label>
                <select id="html" name="html">
                    {{#data.htmlList}}
                    <option value="{{value}}">{{text}}</option>
                    {{/data.htmlList}}
                </select>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>